.navbar {
  background-color: #a883ba;
  margin: 0 10rem 0 10rem;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 5px 0 #a883ba;
}

.link {
  text-decoration: none;
  color: white;
}
